<div class="title-container">
 <h1>Editar Restaurant</h1>
</div>
<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant, class:"btn btn-default" %> |
<%= link_to 'Back', restaurants_path, class:"btn btn-default" %>
